.verb-table {
	text-align: center;
	margin-top: 15px;
}

.verb-header {
	background-color: #d3d3d3;
	text-align: center;
}

input.form-control.verb-input {
	width: 50%;
	margin: auto;
}

@media (max-width: 480px) {
	input.form-control.verb-input {
		width: 100%;
	}
}
