.verb-form-card {
	padding: 15px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.verb-header {
	background-color: #d3d3d3;
	text-align: center;
}

label.col-form-label {
	text-align: center;
}
