<!DOCTYPE html>
<html>
	<head>
		<title>Spanish Verb Conjugations</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/csv.min.js"></script>
		<script src="/js/underscore-min.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	</head>

	<body>
		<div class="container flex-container">
			<div class="verb-information">
				<div class="current-verb">
					<h2 id="infinitive-form"></h1>
					<h3 id="definition"></h2>
				</div>

				<div class="verb-table">
					<h5 id="table-header"></h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Pronoun/Form</th>
								<th>Conjugation</th>
							</tr>
						</thead>
						<tbody id="verb-table-body">
						</tbody>
					</table>
				</div>
			</div>

			<div class="button-div">
				<button id="button" type="button">Next</button>
			</div>
		</div>
	</body>
</html>
